body{
  background-color: #5c8d89;
  color: #f4f9f4;
}

.title-box{
  background-color: #d65a31;
  padding: 1px;
  margin: 20px 0;
}

#editor {
  width: 500px;
  height: 100%;
  background-color: #222831;
  color: #f4f9f4
}

#app{
  text-align: center;
}
#main {
  display: flex;
  justify-content: space-around;
}
#editor-box{
/*   border: 10px solid #1D1B1B; */
  height: 800px;
}
#preview-box {
/*   border: 10px solid #1D1B1B; */
  background-color: #222831;
  height: 800px;
  overflow: auto;/* how to deal with overflowing content */
}
